@font-face {
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa Regular'), url('./fonts/nexa-light-webfont.woff') format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input {
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100%;
}

body{
    background: #ebebeb;
    font-family: 'Nexa Regular', 'Helvetica', sans-serif;
    font-size: 14px;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #4f4f4f;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h2 a:hover span {
    color: #f26c4f;
    text-decoration: none;
}

.shown-when-logged-in{
    display: none !important;
}

.hidden {
    display: none;
}

#wrap {
    margin: 20px auto;
}

.basic-container {
    width: 940px;
    margin: 0 auto;
}

#root {
    min-height: 100%;
    position: relative;
}

#content.loading {
    display: list-item;
    list-style-type: none;
    height: 390px;
    margin: 20px auto;
    background: #373737 url("../imgs/home-flex-loader.gif") center center no-repeat;
}

.basic-link, .basic-link:hover {
    color: #dc3410;
    text-decoration: none;
}

.basic-btn {
    background-color: #474747;
    color: #fff;
    cursor: pointer;
}

.basic-btn:hover {
    background-color: #f26c4f;
}

.dropdown-value {
    background-color: #fff;
    color: #4f4f4f;
    border-bottom: 1px solid #cacaca;
}

.basic-dropdown-btn {
    background-color: #474747;
    color: #fff;
    cursor: pointer
}

.basic-dropdown-btn:hover {
    background-color: #f26c4f;
}

#pagination {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#pagination .page-item {
    box-shadow: 0 1px 1px #cacaca;
}

#pagination .page-item .page-link {
    color: #474747;
}

#pagination .page-item .page-link:hover {
    background-color: #f26c4f;
    color: #fff;
}

#pagination .page-item.active .page-link {
    background-color: #474747;
    border-color: #474747;
    color: #fff;
}

#pagination .page-item.disabled .page-link {
    color: #f26c4f;
}


/*Header
================================================== */
#top-bar-wrap {
    background-color: #373737
}

#top-bar-inner {
    position: relative;
}

.logo {
    display: inline-block;
}

#top-bar-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    height: 24px;
}

#header-social li {
    display: block;
    float: left;
    margin-left: 6px;
}

#header-social a {
    display: block;
    opacity: 0.6;
    height: 24px;
    width: 24px;
}

#header-social a:hover {
    opacity: 1;
}

#navigation-wrap {
    height: 70px;
    position: relative;
}

#navigation-inner {
    position: relative;
    z-index: 5;
}

#navigation {
    height: 70px;
    position: relative;
    padding-left: 80px;
    padding-right: 0px;
    background: #474747 url('../imgs/nav-pin.png') 34px center no-repeat;
}

#navigation .nav-main > li {
    list-style-type: none;
    float: left;
    background: url('../imgs/nav-divider.png') right center no-repeat;
    padding-right: 24px;
    margin-right: 24px;
}

#navigation .nav-main li.no-divider {
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

#navigation .nav-main > li:hover > a,
#navigation .nav-main > li > a:hover,
#navigation .nav-main > .current-menu-item > a,
#navigation .nav-right > .current-menu-item > a,
#navigation .nav-right > li > a:hover,
#footer-navigation .nav-right > li > a:hover,
#footer-navigation .nav-right > .current-menu-item > a {
    border-bottom: 4px solid #f26c4f;
}

#navigation .nav-main a,
#navigation .nav-right a {
    display: block;
    color: #fff;
    height: 70px;
    line-height: 70px;
    font-size: 13px;
    text-decoration: none;
}

.nav-extend {
    z-index: 1;
    height: 70px;
    background: #474747;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
}

.nav-right li {
    background: url('../imgs/nav-divider.png') right center no-repeat;
    padding-right: 24px;
    margin-right: 24px;
}

.nav-right li.last {
    margin-right: 0;
}

                /*Home Page
==================================================
================================================== */
#featured-flexslider {
    position: relative;
    min-height: 60px;
    background: #373737;
    height: 390px;
    margin-bottom: 20px;
}

#featured-flexslider .featured-flexslider-img {
    position: relative;
    width: 630px;
    height: 390px;
    float: left;
}

#featured-flexslider .featured-flexslider-img img {
    width: 100%;
    height: 100%;
}

#featured-flexslider .img-caption {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 70%;
    background: rgba(0,0,0,0.6);
    padding: 20px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#featured-flexslider .text-caption {
    position: relative;
    height: 390px;
    width: 310px;
    float: right;
    color: #a7a7a7;
    font-size: 13px;
    padding: 35px;
    border-left: 10px solid #f26c4f;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#featured-flexslider .text-caption:before {
    display: block;
    content: "";
    position: absolute;
    top: 35px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #f26c4f;
}

#featured-flexslider .text-caption .description-container {
    height: 147px;
    overflow: hidden;
    transition: height 0.8s ease-in-out;
    -moz-transition: height 0.8s ease-in-out;
    -webkit-transition: height 0.8s ease-in-out;
}

#featured-flexslider .text-caption .description-container.large {
    height: 250px;
}

#featured-flexslider .text-caption h2 {
    color: #fff;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 30px;
}

#featured-flexslider .text-caption h2 a {
    color: #fff;
}

#featured-flexslider .text-caption .slider-meta {
    margin-top: 25px;
    height: 21px;
    line-height: 21px;
}

#featured-flexslider .text-caption .slider-readmore {
    display: block;
    float: left;
    height: 21px;
    width: 15px;
    background: url('../imgs/white-plus.png') center center no-repeat;
    cursor: pointer;
}

#featured-flexslider .text-caption .visits-icon {
    font-size: 22px;
}

#featured-flexslider .text-caption .visits {
    font-size: 13px;
    color: #a7a7a7;
    float: right;
    height: 21px;
    padding-left: 26px;
    padding-top: 2px;
}

#featured-flexslider .text-caption .visits strong {
    font-size: 21px;
}

.flex-direction-nav .flex-prev {
    background: #535353;
    right: 30px;
}

.flex-direction-nav .flex-next {
    background: #474747;
    right: 0;
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    text-align: center;
    z-index: 999;
}

#featured-flexslider .flex-control-nav,
.gallery-entry-slider .flex-control-nav {
    display: none;
}

/*Carousel
================================================== */
#sites-carousel-section {
    margin: 0 auto 20px auto;
}

#carousel-wrap {
    position: relative;
    margin: 0;
    padding: 0;
}

#sites-carousel li {
    width: 300px;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
}

#sites-carousel li img {
    width: 100%;
}

#sites-carousel .overlay-plus {
    width: 74px;
    height: 74px;
    background: url("../imgs/carousel-overlay.png") 0 0 no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

#sites-carousel .overlay-plus.hover {
    background: url("../imgs/carousel-overlay-hover.png") 0 0 no-repeat;
}


.sites-carousel-article {
    padding: 30px;
    color: #646464;
    height: 190px;
}

.sites-carousel-article h2 {
    font-size: 24px;
    margin: 0 0 20px;
    color: #4f4f4f;
}

.sites-carousel-article h2 span {
    font-size: 16px;
}

.sites-carousel-article p {
    margin: 0;
}

#carousel-wrap .flex-direction-nav a {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    width: 46px;
    height: 46px;
    text-indent: -9999px;
}

#sites-carousel-section #carousel-wrap .flex-prev {
    left: -60px;
    background: url("../imgs/home-carousel-arrow-left.png") center center no-repeat;
}

#sites-carousel-section #carousel-wrap .flex-next {
    right: -60px;
    background: url("../imgs/home-carousel-arrow-right.png") center center no-repeat;
}

/*Home Page News
================================================== */
#news-header {
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
}

.news-item .news-item-wrap {
    background: #fff;
    margin-bottom: 15px;
    position: relative;
    padding: 30px;
    border-left: 5px solid #d9d9d9;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: 0 1px 1px #cacaca;
}

.news-item .news-item-wrap.hover {
    border-color: #f26c4f;
    padding: 35px 30px;
}

.news-item .news-item-wrap.active {
    background: #f26c4f;
    color: #fff;
    border-left: 5px solid #ce4e32;
    padding: 35px 30px;
}

.news-item h2 {
    font-size: 24px;
    margin: 0 0 15px;
}

.news-item h2 a:hover {
    color: #474747;
}

#news-list .news-item-wrap.active h2 a:hover {
    color: #474747;
    text-decoration: underline;
}

.news-item .news-item-info {
    color: #8f8f8f;
}

.news-item .news-item-wrap.active .news-item-info {
    color: #fff;
}

.news-item .news-item-info span {
    font-style: italic;
    font-size: 12px;
}

.news-item .news-item-info span.devider {
    font-style: initial;
}

.news-item .news-item-wrap .news-item-content {
    display: none;
    padding-top: 15px;
}

.news-item .news-item-wrap .news-item-content .readmore {
    color: #ce4e32;
}

.news-item .news-item-wrap.active .news-item-content .readmore {
    color: #474747;
}

.news-item .news-item-wrap.hover .news-item-content,
.news-item .news-item-wrap.active .news-item-content {
    display: block;
}

/*Home Page Ads
================================================== */
.main-ad-box {
    position: relative;
    margin-bottom: 40px;
}

.main-ad-box img {
    width: 100%;
    max-height: 400px;
}

.main-ad-box .overlay-plus {
    width: 74px;
    height: 74px;
    background: url("../imgs/carousel-overlay.png") 0 0 no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.main-ad-box .overlay-plus.hover {
    background: url("../imgs/carousel-overlay-hover.png") 0 0 no-repeat;
}

.main-ad-box .main-ad-content {
    background: #373737;
    padding: 30px 30px 50px;
    color: #fff;
    font-size: 13px;
    color: #bbb;
    box-shadow: 0 1px 1px #cacaca;
}

.main-ad-box .main-ad-content h2 {
    font-size: 25px;
    --line-height: 1.2em;
    color: #fff;
    margin-bottom: 25px;
}

.ad-item + .ad-item:before {
    display: block;
    width: 100%;
    content: "";
    height: 2px;
    background: #d9d9d9;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

.ad-box {
    font-size: 13px;
    color: #a7a7a7;
    line-height: 1.8em;
    text-shadow: 1px 1px 1px rgba(255,255,255,1);
    padding-bottom: 40px;
}

.ad-box .title {
    display: block;
    color: #474747;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.4em;
}

.ad-box .title:hover{
    color: #f26c4f;
    text-decoration: none;
}

.ad-box .title {
    font-size: 21px;
}

.ad-box .ad-box-content {
    margin-bottom: 20px;
}

.ad-box .readmore {
    position: absolute;
    background: url("../imgs/gray-plus.png") 0 0 no-repeat;
    width: 16px;
    height: 16px;
    opacity: 0.8;
    text-indent: -9999px;
}


/*Home Page Side Menu
================================================== */
.side-menu-wrap {
    margin-bottom: 45px;
}

.side-menu-wrap .side-menu-button {
    display: block;
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    color: #474747;
    text-decoration: none;
    margin-bottom: 8px;
    padding: 16px 20px;
    border-left: 3px solid #cacaca;
    box-shadow: 0 1px 1px #cacaca;
    transition: background .3s linear;
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
}

.side-menu-wrap .side-menu-button:hover {
    background: #f26c4f;
    color: #fff;
    border-color: #dc3410;
}

            /*Login and Registration
==================================================
================================================== */
.auth-form-inner {
    background: #fff;
    padding: 40px;
}

.auth-form-inner h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.auth-form-inner .auth-form {
    padding: 30px;
    background: #eaeaea;
}

.auth-form .form-control {
    width: 50%;
}

.auth-form p {
    margin-top: 15px;
}

            /*Sites
==================================================
================================================== */
.img-container {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

#filter-by-region {
    margin-left: 5px;
}

#order-by {
    margin-right: -5px;
    padding-right: 18px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.order-btn {
    background-color: #fff;
    color: #474747;
    cursor: pointer;
    border: 1px solid #cacaca;
}

.order-btn:hover {
    background-color: #f26c4f;
    color: #fff;
}

.order-btn.active {
    background-color: #474747;
    color: #fff;
    cursor: initial;
}

.sites-count {
    margin: 20px 10px 0px;
    font-size: 16px;
    color: #3f3f3f;
}

#sites-list {
    margin-top: 20px;
}

.site-wrap {
    background: #fff;
    margin-bottom: 15px;
    position: relative;
    padding: 15px;
    border-left: 5px solid #d9d9d9;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    box-shadow: 0 1px 1px #cacaca;
}

.site-wrap.hover {
    border-color: #f26c4f;
    padding: 35px 30px;
}

.site h2 {
    font-size: 16px;
}

.site .site-wrap.hover h2 {
    margin-bottom: 15px;
}

.site .site-info {
    color: #4f4f4f;
    padding: 0;
}

.site .site-content {
    display: none;
}

.site .site-wrap.hover .site-content {
    display: block;
}

.site .site-content .readmore {
    color: #ce4e32;
}

            /*Site and News Details
==================================================
================================================== */
.img-container {
    position: relative;
    box-shadow: 0 1px 1px #cacaca;
}

#site-img,
#news-item-img {
    width: 940px;
}

.img-container .img-caption {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 70%;
    background: rgba(0,0,0,0.6);
    padding: 20px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.site-content,
.news-item-content {
    margin-bottom: 20px;
}

.site-content-inner,
.news-item-content-inner {
    background-color: #fff;
    padding: 40px 50px;
    box-shadow: 0 1px 1px #cacaca;
}

.site-content .site-visits-count {
    color: #8f8f8f;
    font-size: 30px;
    text-align: right;
}

.site-content .site-heading,
.news-item-content .news-item-heading {
    margin: 10px 0;
    color: #f26c4f;
}

.news-item-content .news-item-heading {
    margin-bottom: 20px;
}

.site-content .site-region {
    color: #8f8f8f;
    font-style: italic;
    margin-bottom: 20px;
}

.site-content .site-description,
.news-item-content .news-item-description, {
    font-size: 16px;
    font-stretch: semi-condensed;
    text-indent: 20px;
    margin-bottom: 20px;
}

.news-item-content .news-item-description {
    margin-bottom: 20px;
}

.site-content .site-comments-count,
.news-item-content .news-item-comments-count {
    color: #8f8f8f;
    text-align: left;
}

.site-btn-wrap {
    text-align: right;
}

.site-btn {
    background-color: #008000;
    color: #fff;
    margin: 15px 0;
    cursor: pointer;
}

.site-btn:hover {
    background-color: #006400;
}

.site-btn.reverse {
    background-color: #ce4e32;
    color: #fff;
    margin-bottom: 15px;
}

.site-btn.reverse:hover {
    background-color: #f26c4f;
}

.write-comment {
    margin-bottom: 20px;
}

.write-comment-inner {
    background-color: #fff;
    padding: 40px 50px;
    box-shadow: 0 1px 1px #cacaca;
}

.write-comment-header,
.write-comment .textarea-wrap {
    margin-bottom: 15px;
}

.write-comment-header h3 {
    font-size: 24px;
    color: #4f4f4f;
}

.write-comment textarea {
    width: 100%;
}

.comment-item {
    margin-bottom: 15px;
}

.comment-item .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid #ce4e32;
    border-radius: 50%;
    overflow: hidden;
}

.comment-item .comment-content-inner {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px #cacaca;
}

.comment-item .comment-content-inner:before {
    display: block;
    content: "";
    position: absolute;
    top: 25px;
    left: 1px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #fff;
}

.comment-item .username {
    color: #f26c4f;
    font-size: 20px;
}

.comment-item .date {
    color: #8f8f8f;
    font-size: 12px;
    margin-bottom: 10px
}

.comment-item .content {
    color: #474747;
    word-wrap: break-word;
}

                    /*News
==================================================
================================================== */
#news-list .news-item {
    margin-bottom: 20px;
}

.news-item-img img {
    width: 100%;
    max-height: 300px;
}

.news-item-data-inner {
    background-color: #fff;
    padding: 40px 50px;
    box-shadow: 0 1px 1px #cacaca;
}

#news-list .news-item h2 {
    color: #707070;
}

#news-list .news-item h2 a:hover {
    color: #f26c4f;
}

#news-list .news-item-stats {
    color: #8f8f8f;
    margin-bottom: 20px;
}

.news-item .news-item-stats span {
    font-style: italic;
    font-size: 12px;
}

.news-item .news-item-stats span.devider {
    font-style: initial;
}

.news-item .news-item-content .readmore {
    color: #ce4e32;
}

#news .sync-pagination.top {
    margin-top: 10px;
}

                /*Profile
==================================================
==================================================*/
.profile-top {
    padding: 20px;
    background-color: #d9d9d9;
}

.profile-top .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 5px solid #f26c4f;
    border-radius: 50%;
    overflow: hidden;
}

.profile-top .circle img {
    width: 100%;
}

.profile-top .circle .username {
    position: absolute;
    right: -50px;
    bottom: 15px;
    font-size: 30px;
    text-shadow: 1px 1px 1px #474747;
}

.profile-top .visited-sites-count {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 70px;
    color: #474747;
    text-shadow: 1px 0px 1px rgba(50, 50, 50, 0.6);
}

.profile-tabs .profile-tab-item {
    width: 50%;
    text-align: center;
}

.profile-tabs .profile-tab-item span {
    background-color: #fff;
    color: #474747;
    font-size: 20px;
    border-bottom: 1px solid #cacaca;
}

.profile-tabs .profile-tab-item span:hover {
    background-color: #f26c4f;
    color: #fff;
    cursor: pointer;
}

.profile-tabs .profile-tab-item span.active {
    background-color: #474747;
    color: #fff;
}

.profile-tab-item .info.active {
    border-left: 5px solid #f26c4f;
}

.profile-tab-item .visited-sites.active {
    border-right: 5px solid #f26c4f;
}

.profile-tabs .profile-tab-item span.active:hover {
    cursor: initial;
}

.profile-content {
    margin-bottom: 20px;
}

.profile-content-inner {
    background-color: #fff;
    color: #474747;
    font-size: 18px;
    font-style: italic;
    padding: 50px;
    box-shadow: 0 1px 1px #cacaca;
}

.profile-content-inner span {
    color: #a7a7a7;
    font-weight: 700;
}

.profile-content-inner .first-name,
.profile-content-inner .last-name,
.profile-content-inner .age {
    margin-bottom: 10px;
}

#visited-sites .visited-sites-heading {
    border-top:none;
    font-style: initial;
}


/*Footer
================================================== */
#footer-wrap {
    width: 100%;
    background-color: #373737;
    position: relative;
}

#footer {
    background: #373737;
    color: #7e7e7e;
    padding-bottom: 200px;
}

#footer .nav-extend {
    height: 65px;
}

#footer-navigation {
    background: #474747;
    padding: 0;
    z-index: 5;
}

#footer-navigation .footer-menu-container {
    position: absolute;
    right: 0;
}

#footer-navigation .nav-right li.last {
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

#footer-navigation .footer-menu-container a {
    display: block;
    color: #fff;
    height: 65px;
    line-height: 65px;
    font-size: 13px;
    text-decoration: none;
}

#footer-content {
    margin-top: 55px;
    font-size: 12px;
}

#footer-content .footer-content-links {
    margin-bottom: 25px;
}

#footer-content .footer-content-item {
    float: left;
    color: #fff;
    padding-right: 20px;
}

#footer-content .footer-content-item a {
    color: #fff;
    text-decoration: none;
}


@media screen and (max-width: 991px) {
	/*Navigation
    ================================================== */
	#navigation-wrap { height: auto; }

	#navigation { 
        height: auto;
        line-height: normal;
        background-image: none;
        padding: 0;
    }

	#menu-right { 
        display: inline;
    }

	#navigation .navbar-toggler { 
        display: block; 
        float: left; 
        margin: 18px;
        border-color: #fff;
        background-color: grey;
        font-size: 16px;
        cursor: pointer;
    }

	/*Responsive Menu
    ================================================== */
    .menu-container {
        background: -o-linear-gradient(top, #3e3e3e, #383838);
        background: -ms-linear-gradient(top, #3e3e3e, #383838);
        background: -moz-linear-gradient(top, #3e3e3e, #383838); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e3e3e), color-stop(1, #383838));
        background: -webkit-linear-gradient(#3e3e3e, #383838); 
        background: linear-gradient(top, #3e3e3e, #383838);
    }

    #navigation .nav-main > li,
    #navigation .nav-right > li {
        background-image: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #navigation .nav-main > li:hover > a, 
    #navigation .nav-main > li > a:hover, 
    #navigation .nav-main > .current-menu-item > a, 
    #navigation .nav-main > .current-menu-item > a:hover,
    #navigation .nav-right > .current-menu-item > a, 
    #navigation .nav-right > li > a:hover {
        border-bottom: none;
    }

	#main-menu li a,
    #menu-right li a { 
        font-weight: 400; 
        display: block; 
        padding: 6px 20px; 
        border-top: 1px solid #484848; 
        border-bottom: 1px solid #2e2e2e; 
        text-decoration: none; 
        text-shadow: 0 -1px 2px #222; 
        color: #f7f7f7; 
    }

	#main-menu li a:active,
    #menu-right li a:active { 
        padding-top: 0.55em; 
        padding-bottom: 0.45em; 
    }

	/*Home Slider
    ================================================== */
	#featured-flexslider {
         height: auto;
    }

	#featured-flexslider .slider-video embed, #featured-flexslider .slider-video iframe { height: auto; width: 100%; }
	
    #featured-flexslider .featured-flexslider-img {
         width: 100%;
         height: auto;
         float: none;
    }

	#featured-flexslider .img-caption,
    .img-container .img-caption {
        height: auto;
        padding: 3% 4%;
    }

	#featured-flexslider .text-caption {
        width: 100%;
        border-left: none;
        height: auto;
        padding: 30px 40px;
        text-align: center;
    }

	#featured-flexslider .text-caption h2 {
        margin-bottom: 15px;
    }

    .flex-direction-nav .flex-prev {
        left: 0;
    }

    /* News and Ads
    ================================================== */
    .news-item .news-item-wrap {
        text-align: center;
    }

    .news-item-info .center-on-tablet {
        justify-content: center;
    }

    .main-ad-box .main-ad-content,
    .ad-box {
        text-align: center;
    }

    .ad-box {
        padding-bottom: 25px;
    }

    .ad-box .ad-box-content {
        margin-bottom: 0;
    }

    #featured-flexslider .text-caption:before,
    #featured-flexslider .text-caption .slider-meta,
    #sites-carousel-section,
    .main-ad-box .overlay-plus,
    .ad-box .readmore {
        display: none !important;
    }
}

/* Tablet (Portrait)
================================================== */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.basic-container { width: 700px; }
}

/* Mobile (Portrait)
================================================== */
@media screen and (max-width: 767px) {
    .visible-on-mobile {
        display: block;
    }
    .not-visible-on-mobile {
        display: none !important;
    }

	.basic-container { 
        width: 100% 
    }

	#wrap {
        margin: 0 auto;
    }

    #home-news, #ads {
        padding: 0 10%;
    }

    #footer-content .footer-content-item { 
        padding-right: 20%
    }

    .auth-form .form-control {
        width: 100%;
    }

    /* Sites
    ================================================== */
    #sites {
        padding: 0 6%;
    }

    #order-by {
        margin: 10px 0 0 5px;
        -webkit-box-pack: initial;
        -webkit-justify-content: initial;
        -ms-flex-pack: initial;
        justify-content: initial;
    }

    .site .site-info {
        padding: 10px 15px 0;
    }

    .site .site-wrap.hover .site-info {
        padding: 0 15px 10px;
    }

    /* Single Site
    ================================================== */
    .site-content-inner {
        padding: 40px 5%;
    }

    .site-content .site-description {
        text-align: justify;
    }

    .comment-item .circle {
        width: 90%;
        margin-left: 15px;
    }

    /* News
    ================================================== */
    .news-item-data-inner {
        padding: 40px 8%;
    }
}

/* Mobile (Landscape)
================================================== */
@media screen and (min-width: 480px) and (max-width: 767px) {
	
}