@font-face {
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa Regular'), url('./fonts/nexa-light-webfont.woff') format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input {
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100%;
}

body{
    background: #ebebeb;
    font-family: 'Nexa Regular', 'Helvetica', sans-serif;
    font-size: 14px;
    --line-height: 1.75em;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.shown-when-logged-in{
    display: none !important;
}

.hidden {
    display: none;
}

.basic-container {
    width: 940px;
    margin: 0 auto;
}

#root {
    min-height: 100%;
    position: relative;
}

/*header*/

#top-bar-wrap {
    background-color: #373737
}

#top-bar-inner {
    position: relative;
}

#logo {
    display: inline-block;
}

#top-bar-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    height: 24px;
}

#header-social li {
    display: block;
    float: left;
    margin-left: 6px;
}

#header-social a {
    display: block;
    opacity: 0.6;
    height: 24px;
    width: 24px;
}

#header-social a:hover {
    opacity: 1;
}

#navigation-wrap {
    height: 70px;
    position: relative;
}

#navigation-inner {
    position: relative;
    z-index: 5;
}

#navigation {
    height: 70px;
    position: relative;
    padding-left: 80px;
    padding-right: 0px;
    background: #474747 url('../imgs/nav-pin.png') 34px center no-repeat;
}

#navigation .nav-main > li {
    list-style-type: none;
    float: left;
    background: url('../imgs/nav-divider.png') right center no-repeat;
    padding-right: 24px;
    margin-right: 24px;
}

#navigation .nav-main > li:hover > a,
#navigation .nav-main > li > a:hover,
#navigation .nav-main > .current-menu-item > a,
#navigation .nav-main > .current-menu-item > a:hover,
#navigation .nav-right > li > a:hover {
    border-bottom: 4px solid #f26c4f;
}

#navigation .nav-main a,
#navigation .nav-right a {
    display: block;
    color: #fff;
    font-weight: 500;
    height: 70px;
    line-height: 70px;
    font-size: 13px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    border-bottom: 4px solid transparent;
}

#nav-extend {
    z-index: 1;
    height: 70px;
    background: #474747;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
}

.nav-right li {
    background: url('../imgs/nav-divider.png') left center no-repeat;
    padding-left: 24px;
    margin-left: 24px;
}

.nav-right li.no-divider {
    background-image: none;
    padding-left: 0;
    margin-left: 0;
}

/*home page*/
#wrap {
    margin: 20px auto;
}

#featured-flexslider {
    position: relative;
    min-height: 60px;
    background: #373737;
    height: 390px;
    margin-bottom: 20px;
}

#featured-flexslider .featured-flexslider-img {
    position: relative;
    width: 630px;
    height: 390px;
    float: left;
}

#featured-flexslider .featured-flexslider-img img {
    width: 100%;
}

#featured-flexslider .img-caption {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 70%;
    background: rgba(0,0,0,0.6);
    padding: 20px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#featured-flexslider .text-caption {
    position: relative;
    height: 390px;
    width: 310px;
    float: right;
    color: #a7a7a7;
    font-size: 13px;
    padding: 35px;
    border-left: 10px solid #f26c4f;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#featured-flexslider .text-caption:before {
    display: block;
    content: "";
    position: absolute;
    top: 35px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #f26c4f;
}

#featured-flexslider .text-caption h2 {
    color: #fff;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 30px;
}

#featured-flexslider .text-caption h2 a {
    color: #fff;
}

#featured-flexslider .text-caption .slider-meta {
    margin-top: 25px;
    height: 21px;
    line-height: 21px;
}

#featured-flexslider .text-caption .slider-readmore {
    display: block;
    float: left;
    height: 21px;
    width: 15px;
    background: url('../imgs/white-plus.png') center center no-repeat;
}

#featured-flexslider .text-caption .date {
    font-size: 13px;
    color: #a7a7a7;
    float: right;
    height: 21px;
    background: url('../imgs/gray-clock.png') left center no-repeat;
    padding-left: 26px;
    padding-top: 2px;
}

.flex-direction-nav .flex-prev {
    background: #535353;
    right: 30px;
}

.flex-direction-nav .flex-next {
    background: #474747;
    right: 0;
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    /*transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;*/
    text-align: center;
}

.sort *{
    display: inline-block;
}

@media only screen and (max-width: 991px) {
    /*nav toggles*/
	#responsive-toggles { background: #474747; padding: 0 40px; -webkit-touch-callout: none; -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: moz-none; -ms-user-select: none; user-select: none; }
	#responsive-toggles span:hover { opacity: 0.8; }
	/*navigation*/
	#navigation-wrap { height: auto; }

	#navigation { 
        height: auto;
        line-height: normal;
        background-image: none;
        padding: 0;
    }

	#menu-right { 
        display: inline;
    }

	#navigation .navbar-toggler { 
        display: block; 
        float: left; 
        margin: 18px;
        border-color: #fff;
        background-color: grey;
        font-size: 16px;
        cursor: pointer;
    }

	/*responsive menu*/
    .menu-container {
        background: -o-linear-gradient(top, #3e3e3e, #383838);
        background: -ms-linear-gradient(top, #3e3e3e, #383838);
        background: -moz-linear-gradient(top, #3e3e3e, #383838); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e3e3e), color-stop(1, #383838));
        background: -webkit-linear-gradient(#3e3e3e, #383838); 
        background: linear-gradient(top, #3e3e3e, #383838);
    }

    #navigation .nav-main > li,
    #navigation .nav-right > li {
        background-image: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #navigation .nav-main > li:hover > a, 
    #navigation .nav-main > li > a:hover, 
    #navigation .nav-main > .current-menu-item > a, 
    #navigation .nav-main > .current-menu-item > a:hover, 
    #navigation .nav-right > li > a:hover {
        border-bottom: none;
    }

	#main-menu li a,
    #menu-right li a { 
        font-weight: 400; 
        display: block; 
        padding: 6px 20px; 
        border-top: 1px solid #484848; 
        border-bottom: 1px solid #2e2e2e; 
        text-decoration: none; 
        text-shadow: 0 -1px 2px #222; 
        color: #f7f7f7; 
    }

	#main-menu li a:active,
    #menu-right li a:active { 
        padding-top: 0.55em; 
        padding-bottom: 0.45em; 
    }

	/*home slider*/
	#featured-flexslider {
         height: auto;
         overflow: hidden; 
    }

	#featured-flexslider .slider-video embed, #featured-flexslider .slider-video iframe { height: auto; width: 100%; }
	
    #featured-flexslider .featured-flexslider-img {
         width: 100%;
         height: auto;
         float: none;
    }

	#featured-flexslider .img-caption {
        height: auto;
        padding: 3% 4%;
    }

	#featured-flexslider .text-caption {
        width: 100%;
        border-left: none;
        height: auto;
        padding: 30px 40px;
        text-align: center;
    }

	#featured-flexslider .text-caption:before {
        display: none;
    }

	#featured-flexslider .text-caption h2 {
        margin-bottom: 15px;
    }

	#featured-flexslider .text-caption .slider-meta {
        display: none;
    }

	.wpex-widget-featured-posts-slider .flex-direction-nav,
	.gallery-entry-slider .flex-direction-nav {
        display: none !important;
    }

    .flex-direction-nav .flex-prev {
        left: 0;
    }

	#featured-flexslider .flex-control-nav,
	.gallery-entry-slider .flex-control-nav {
        display: block;
    }

	#posts-carousel-wrap { display: none !important; }
	#related-posts { display: none !important; }
	#featured-flexslider { margin-bottom: 20px; }
}

/* Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.basic-container { width: 700px; }
}

/* Mobile (Portrait)
================================================== */
@media only screen and (max-width: 767px) {
    .visible-on-mobile {
        display: block;
    }
    .not-visible-on-mobile {
        display: none !important;
    }

	.basic-container { 
        width: 100% 
    }

	#wrap {
        margin: 0 auto;
    }

	.col { width: 100% !important; margin-left: 0; margin-right: 0; max-width: 100%; }
	#sidebar { width: 100%; max-width: 100%; }
	#mobile-search { width: 100%; height: 70px; line-height: 70px; margin-bottom: 20px; }
	#sidebar { margin-top: 50px; padding: 0 40px; }
	#comments { padding: 0 40px; }
	#footer-copy { padding: 0 40px; }
	#logo h2 { margin-left: 40px; }
	.single-format-status #post { margin-bottom: 0; }
	.single #post-status { padding: 10px 40px 0; margin-bottom: 0; }
	.quote-entry { border-left: 0; }
	.post-entry { margin-bottom: 40px; }
	#comments .children { margin-left: 0; }
	#single-nav { display: none; }
	#footer-logo { display: none; }
	.footer-nav-links { float: left; margin-left: 20px; }
	#page-heading { margin-top: 20px; }
	#archive-post-count { position: inherit; top: auto; left: auto; right: auto; margin-top: 10px; display: inline-block; }
	.contributor-entry { padding-left: 0; padding-bottom: 40px; border-bottom: 1px solid #ebebeb; }
	.contributor-entry-desc { padding-left: 0; border-left: 0; }
	.contributor-entry-desc:before { display: none; }
	.contributor-entry-avatar { position: inherit; top: auto; left: auto; margin-bottom: 20px; }
	.contributor-entry-footer li { float: none; }
	#mobile-search input[type="search"] { font-size: 14px; }
	.comment-details { margin-left: 0; margin-right: 0; }
	.comment-details:before { display: none; }
	.comment-author { display: none; }

}

/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#mobile-search input[type="search"] { font-size: 18px; }
}