@font-face {
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa Regular'), url('./fonts/nexa-light-webfont.woff') format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input {
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100%;
}

body{
    font-family: 'Nexa Regular'
}

img {
    max-width: 100%;
}

.hidden{
    display: none;
}

.shown-when-logged-in{
    display: none !important;
}

.basic-container {
    width: 940px;
    margin: 0 auto;
}

#root {
    min-height: 100%;
    position: relative;
}

#top-bar-wrap {
    background-color: #373737
}

#top-bar-inner {
    position: relative;
}

#logo {
    display: inline-block;
}

#top-bar-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    height: 24px;
}

#header-social {
    --float: right;
}

#header-social li {
    display: block;
    float: left;
    margin-left: 6px;
}

#header-social a {
    display: block;
    opacity: 0.6;
    height: 24px;
    width: 24px;
}

#header-social a:hover {
    opacity: 1;
}

#navigation-wrap {
    height: 70px;
    position: relative;
}

#navigation-inner {
    position: relative;
    z-index: 5;
}

#navigation {
    height: 70px;
    position: relative;
    padding-left: 80px;
    background: #474747 url('../imgs/nav-pin.png') 34px center no-repeat;
}

#navigation .nav-main > li {
    display: block;
    float: left;
    background: url('../imgs/nav-divider.png') right center no-repeat;
    padding-right: 24px;
    margin-right: 24px;
}

#navigation .nav-main > li:hover > a,
#navigation .nav-main > li > a:hover,
#navigation .nav-main > .current-menu-item > a,
#navigation .nav-main > .current-menu-item > a:hover,
#navigation .nav-right > li > a:hover {
    border-bottom: 4px solid #f26c4f;
}

#navigation .nav-main a,
#navigation .nav-right a {
    display: block;
    color: #fff;
    font-weight: 500;
    height: 70px;
    line-height: 70px;
    font-size: 13px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    border-bottom: 4px solid transparent;
}

#nav-extend {
    z-index: 1;
    height: 70px;
    background: #474747;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
}

#menu-right {
    float: right !important;
}

#menu-right li{
    display: block;
    float: left;
    background: url('../imgs/nav-divider.png') left center no-repeat;
    padding-left: 24px;
    margin-left: 24px;
}

#menu-right li.no-divider {
    background-image: none;
    padding-left: 0;
    margin-left: 0;
}

.sort *{
    display: inline-block;
}

@media (max-width: 765px) {
    .visible-on-mobile {
        display: block;
    }
    .not-visible-on-mobile {
        display: none !important;
    }
}