<div id="wrap" class="basic-container">
    <div class="img-container">
        <img src="https://imgrabo.com/design/_opoznai.bg/index_header/istoriko-arheologicheski-rezervat-weliki-preslav.jpg" alt="Велики Преслав">
        {{!--<img src="https://imgrabo.com/design/_opoznai.bg/index_header/tsarevets.jpg" alt="Царевец">--}}
    </div>
</div>