<h4>Create new material</h4>
<form action="post">
    <div class="form-group">
        <label for="material-title">Title: </label>
        <input type="text" class="form-control" id="material-title" placeholder="text">
    </div>
    <div class="form-group">
        <label for="material-description">Description: </label>
        <input type="text" class="form-control" id="material-description" placeholder="description">
    </div>
     <div class="form-group">
        <label for="material-img">Material image url (optional)</label>
        <input type="url" class="form-control" id="material-img" placeholder="image url">
    </div>
    <button type="submit" id="create-new-material" class="btn btn-info">Create</button>
</form>