<div id="wrap" class="basic-container">
    <div id="featured-flexslider" class="flexsider">
        <ul class="sides">
            <li class="featured-flexslider">
                <div class="featured-flexslider-img">
                    <a href="http://wpexplorer-demos.com/goodinc/a-casual-sunday/" title="A Casual Sunday">
                        <img src="http://wpexplorer-demos.com/goodinc/wp-content/uploads/sites/61/2013/07/2637410214_8665f09546_f-630x390.jpg" alt="A Casual Sunday">
                    </a>
                </div>
                <div class="img-caption">
                    Welcome to GoodInc
                </div>
                <article class="text-caption">
                    <h2><a href="#" title="A Casual Sunday" rel="bookmark">A Casual Sunday</a></h2>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum
                    at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante,…
                    <div class="slider-meta">
                        <a href="#" title="Прочети повече" class="slider-readmore"></a>
                        <div class="date">July 14, 2013</div>
                    </div>
                </article>
            </li>
        </ul>
        <ol class="flex-control-nav flex-control-paging">
            <li><a class="">1</a></li>
            <li><a class="flex-active">2</a></li>
            <li><a class="">3</a></li>
        </ol>
        <ul class="flex-direction-nav">
            <li><a class="flex-prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
            <li><a class="flex-next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>