<div id="wrap" class="basic-container">
    <div class="auth-form-inner">
        <h2 class="auth-form-heading">Вход</h2>
        <form class="auth-form" action="post">
            <div class="form-group">
                <label for="username">Потребителско име: </label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="password">Парола: </label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" id="login-btn" class="btn basic-btn">Вход</button>
            <p>
                или <a class="basic-link" href="#/register">Регистрация</a>
            </p>
        </form>
    </div>
</div>