<div id="wrap" class="basic-container">
    <div class="img-container">
        <img src="http://bulgarkamagazine.com/wp-content/uploads/2015/10/049420532667.jpg" alt="Плиска" title="Плиска">
    </div>
    <div class="row">
        <div id="results" class="col col-12 col-lg-8">
            <div class="input">
                <h2>Търси: "музей" - 3 резултата</h2>
            </div>
            <div class="sites">
                <ul id="sites-results">
                    <li class="sites-results-item">
                        <div class="sites-results-item-wrap">
                            <h2 class="item-heading"><a href="#/all-sites/1">1. <span class="key-word">Музей</span> "Никола Въпцаров" - град Банско</a></h2>
                            <div class="item-content">
                                ...1960, 1979 и 1992 г. - сегашната експозиция е направена на високо професионално ниво и се отличава с
                                нетрадиционния за мемориален <span class="key-word">музей</span> метод на поднасяне на информацията. По указания...
                                <a href="#/all-sites/1" title="Прочети повече" class="readmore">Виж повече</a>
                            </div>
                        </div>
                    </li>
                    <li class="sites-results-item">
                        <div class="sites-results-item-wrap">
                            <h2 class="item-heading"><a href="#/all-sites/18">18. Национален <span class="key-word">музей</span> "Параход Радецки" - град Козлодуй</a></h2>
                            <div class="item-content">
                                Националния <span class="key-word">музей</span> "Параход Радецки" събира, обработва и популяризира исторически сведения и документи,
                                свързани с формирането на Ботевата чета, десанта й на Козлодуйския бряг...
                                <a href="#/all-sites/18" title="Прочети повече" class="readmore">Виж повече</a>
                            </div>
                        </div>
                    </li>
                    <li class="sites-results-item">
                        <div class="sites-results-item-wrap">
                            <h2 class="item-heading"><a href="#/all-sites/39">39. Подземен минен <span class="key-word">музей</span> - град Перник</a></h2>
                            <div class="item-content">
                                 ...която представлява подземен музей. Така се ражда идеята в Перник също да има такъв <span class="key-word">музей</span>.
                                 Музеят отваря врати през 1986г. и до момента е единственият на Балканския полуостров и един от малкото...
                                <a href="#/all-sites/39" title="Прочети повече" class="readmore">Виж повече</a>
                            </div>
                        </div>    
                    </li>
                </ul>
                </div>
            </div>
            <aside id="ads" class="col col-12 col-lg-4">
                <div class="main-ad-box">
                    <a href="#" title="Място за вашата реклама">
                        <img src="http://befit.bg/mag/wp-content/uploads/2013/09/kruiz-480x480.jpg" alt="вашата реклама">
                        <i class="overlay-plus"></i>
                    </a>
                    <div class="main-ad-content">
                        <h2>Основна реклама</h2>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                        ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                    </div>
                </div>
                <div class="side-menu-wrap">
                    <ul class="side-menu-list">
                        <li class="side-menu-item">
                            <a href="#/home" class="side-menu-button">Начало</a>
                        </li>
                        <li class="side-menu-item">
                            <a href="#/sites" class="side-menu-button">Обекти</a>
                        </li>
                        <li class="side-menu-item">
                            <a href="#/news" class="side-menu-button">Новини</a>
                        </li>
                    </ul>
                </div>
                <div class="ad-list-wrap">
                    <ul id="ad-list">
                        <li class="ad-item">
                            <div class="ad-box">
                                <h2>
                                    <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                                </h2>
                                <div class="ad-box-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                    ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                                </div>
                                <a href="#" title="Виж повече" class="readmore">not visible</a>
                            </div>
                        </li>
                        <li class="ad-item">
                            <div class="ad-box">
                                <h2>
                                    <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                                </h2>
                                <div class="ad-box-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                    ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                                </div>
                                <a href="#" title="Виж повече" class="readmore">not visible</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>